################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/MotoForm/v15
/MotoForm/.vs/MotoForm/v15
/MotoForm/bin/Debug
/MotoForm/obj/Debug
/MotoForm/packages
/MotoForm.Domain/bin/Debug
/MotoForm.Domain/obj/Debug
/MotoForm.Persistent/bin/Debug
/MotoForm.Persistent/obj/Debug
/MotoForm.Persistent.Tests/bin/Debug
/MotoForm.Persistent.Tests/obj/Debug
/packages
