<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="FilePath" value="data.db"/>
    <add key="User" value="小朱,123456,3;小朱II,0000,1"/>
    <add key="MotoLabel" value="YAMAHA,KYMCO,SYM,PGO,SUZUKI,CPI,宏佳騰,哈特佛,偉士牌"/>
  </appSettings>
</configuration>
